body{
  background: black;
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
#end{
  margin:0;
  padding:0;
  width:100%;
  height:715px;
  background-image: url('end.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
#end > *{
  margin:0;
  padding:0;
  position: absolute;
}
#text{
  font-family:fantasy;
  font-size: 50px;
  /* padding-left: 20px;
  padding-top: 20px; */
  text-align: center;
  color: #0d1352;
  border-style:groove;
  border-width: 5px;
  border-color: #31f7f1;
  box-sizing: content-box;
  padding: 15px;
  margin:10px;
}
